body {
  background-color: #222831;
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", sans-serif;
}
.form {
  background-color: #31363f;
  padding-top: 30px;
  padding-bottom: 50px;
  height: 140vh;
  padding-left: 25px;
  font-family: "Open-Sans", sans-serif;
}

.team-gen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open-Sans", sans-serif;
}

.Title {
  font-family: "Open-Sans", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  background: linear-gradient(300deg, #222831, #31363f, #76abae, #eeeeee);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.player {
  display: flex;
  justify-content: center;
  padding-top: 125px;
  font-family: "Open-Sans", sans-serif;
}

#playerHeading {
  display: flex;
  justify-content: center;
  font-family: "Open-Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #eeeeee;
}

ul {
  list-style-type: none;
  padding-right: 40px;
  font-family: "Open-Sans", sans-serif;
}

.allPlayers {
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
}

#pl {
  font-family: "Open-Sans", sans-serif;
  padding: 5px;
}

.button-18 {
  align-items: center;
  background-color: #76abae;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-left: 60px;
}

.button-generate {
  align-items: center;
  background-color: #76abae;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-shuffle {
  align-items: center;
  background-color: #76abae;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-add {
  align-items: center;
  background-color: #76abae;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 20px;
}

.button-regular {
  align-items: center;
  background-color: #76abae;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 25px;
}
.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-add:hover,
.button-add:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-shuffle:hover,
.button-shuffle:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-regular:hover,
.button-regular:focus {
  background-color: #16437e;
  color: #ffffff;
}
.button-generate:hover,
.button-generate:focus {
  background-color: #16437e;
  color: #ffffff;
}

.generate {
  display: flex;
  justify-content: center;
  font-family: "Open-Sans", sans-serif;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding-top: 3px;
  font-family: "Open-Sans", sans-serif;
}

#sv {
  margin-left: 10px;
  font-family: "Open-Sans", sans-serif;
}

.Ranks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open-Sans", sans-serif;
}

.reg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open-Sans", sans-serif;
  margin-right: 50px;
  color: #eeeeee;
  margin-top: 20px;
  margin-bottom: 20px;
}

.regP {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #eeeeee;
  height: 100px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #76abae;
  border-radius: 10px;
  border: 0;
  margin: 5px;
  color: white;
  outline: none;
  padding: 10px;
  font-family: "Open-Sans", sans-serif;
}

.sel {
  width: 20px;
  height: 20px;
  background-color: #76abae;
  border-radius: 100px;
  border: none;
  color: white;
  font-family: "Open-Sans", sans-serif;
}

.gen-btn {
  align-items: center;
  background-color: #76abae;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-right: 25px;
}
.shuffle-btn {
  align-items: center;
  background-color: #76abae;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", "Open Sans ", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-right: 28px;
}

.t1 {
  text-align: center;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.t2 {
  text-align: center;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
}

.teams {
  margin: 100px;
  font-family: "Open-Sans", sans-serif;
}

.reg-btn {
  align-items: center;
  background-color: #76abae;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-left: 60px;
  margin-top: 10px;
}

.reg-input {
  background-color: #76abae;
  border-radius: 5px;
  border: 0;
  outline: none;
  color: white;
  text-align: center;
  margin: 5px;
  font-family: "Open-Sans", sans-serif;
}
